REACT_APP_FIREBASE_KEY="Your Firebase Key"
REACT_APP_FIREBASE_DOMAIN="Your Firebase Domain"
REACT_APP_FIREBASE_PROJECT_ID="Your Firebase Project ID"
REACT_APP_FIREBASE_STORAGE_BUCKET="Your Firebase Storage Bucket"
REACT_APP_FIREBASE_SENDER_ID="Your Firebase Sender ID"
REACT_APP_FIREBASE_APP_ID="Your Firebase App ID"
PORT=Server port